In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    
        "Name": [
            "Katherine",
            "Allen",
            "Juan",
            "Maria",
        ],
        "Age": [23,15,17,19],
        "Sex": ["female","male","male","female"],
    }
)

In [6]:
df

        Name  Age     Sex
0  Katherine   23  female
1      Allen   15    male
2       Juan   17    male
3      Maria   19  female

In [8]:
df["Age"]

0    23
1    15
2    17
3    19
Name: Age, dtype: int64

In [9]:
ages = pd.Series([22,35,58], name="Age")

In [10]:
ages

0    22
1    35
2    58
Name: Age, dtype: int64

In [11]:
df["Age"].max()

np.int64(23)

In [13]:
ages.max()

np.int64(58)

In [14]:
df.describe()

            Age
count   4.00000
mean   18.50000
std     3.41565
min    15.00000
25%    16.50000
50%    18.00000
75%    20.00000
max    23.00000